html 
body {background-color: white ;}
 h1 {color:tomato ;
    text-align: left;top: auto;
    border-radius: 3px;
    padding-inline-start: 600px;
 }
 .logo { 
   width: 200px;
   padding-inline-start: 50px;
   margin-top: auto;
   text-align: center;
 }
 nav ul li {
  
  font-family: Arial;
  display: inline;
  border-bottom: 3px;
  font-size:20px;
  text-decoration: none;  
  padding: 10px ;
  background-color: white;
  color: red ;
  padding-bottom: none;
  list-style: none;
  padding-inline-start: 100px;
  justify-content: center;
display: flex; }


 .formula {

  align-items: center;
  margin: 0 auto;
  width: 500px;
  background-color: white;
  padding: 100px;
  border-radius: 3px;

 }
 div h2 {text-align: center;
}
 div p {text-align: center;
font-family: Arial, Helvetica, sans-serif;
background-color: black;
color: white;
border-radius: 5px;
padding: 10px;}

header h2 {text-align: left; 
  padding: inline start 600px;
}
header p {text-align: left;}

div p {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline-start: 500px;

}
.chicago {
  text-align: center;
  width: 300px;
float: inline-start;
background-color: white;
  
 
}
.mocha {
  text-align: center;
  width: 300px;



}
.travis {
  text-align: center;
  width: 300px; }
.off {
  text-align: center ;
  width : 300px ;
}
  
footer {
  background-color:white;
  color: red;
  font-style: italic;
}
#carouselExample {
  background-color: white;
  color: white;
}
